[submodule "themes/website-theme"]
	path = themes/website-theme
	url = https://github.com/mudmapio/website-theme.git
[submodule "themes/plausible-hugo"]
	path = themes/plausible-hugo
	url = https://github.com/divinerites/plausible-hugo.git
